body {
  background: #181818;
}

.bg-light {
  background-color: #181818 !important;
}

.carousel-item {
  height: 70vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}

.carousel-caption {
  bottom: 50px;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-toggler {
  background: #fff;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: 0.2rem 1rem;
}

.nav-link.active,
.nav-link:focus {
  color: #fff;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.fixed-top {
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 4.5rem;
  padding-left: 0.5rem;
}

#en {
  display: none;
}

.current_lang {
  background-color: #dc3545 !important;
  transition: background-color 0.3s ease-in-out;
}

.button_lang {
  background-color: #444;
  color: #FFF;
  padding: 2px 15px 2px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.button_lang:hover,
.current_lang {
  background-color: #777;
  transition: background-color 0.3s ease-in-out;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
  margin-left: -30px;
  margin-top: 5px;
}

ul li {
  width: auto;
  display: inline;
}

/*--------------------*/

/*
 2.Main
 */

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  margin-bottom: -70px;
  margin-left: -53px;
}

.btn-primary {
  color: #fff;
  background-color: #d73616;
  border-color: #dc3545;
}

.card {
  background-color: #181818;
  color: white;
}

.link-area {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 15px;
  border-radius: 40px;
  background: tomato;
}

.link-area a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

/*
 3.Footer
 */

footer {
  background-color: #181818;
}

